:root {
    --grey-1: hsl(212, 33%, 89%);
    --grey-2: hsl(210, 31%, 80%);
    --grey-3: hsl(211, 27%, 70%);
    --grey-4: hsl(209, 23%, 60%);
    --grey-5: hsl(210, 22%, 49%);
    --grey-6: hsl(209, 28%, 39%);
    --grey-7: hsl(209, 34%, 30%);
    --grey-8: hsl(211, 39%, 23%);
    --grey-9: hsl(209, 61%, 16%);
    --white: #fff;
    --black: #000;
    --light-grey:rgba(107, 107, 107, 0.2);
}

* {
    box-sizing: border-box;
    text-decoration: none;
    overflow-y: auto;
}

/* start of ToDo logo and input box */
.container {
	width: 40%;
	min-height: 570px;
	margin: 90px 0 50px 0;
	border-radius: 0.75rem;
	place-self: center;
	background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    gap: 8px;
    margin-bottom: 16px;
}

#logo {
    height: 48px;
}

.input-box {
    background: rgb(229,231,235);
    display: flex;
    align-items: center;
    border-radius: 9999px;
    margin: 0 40px 40px;
}

.input-box .task {
    padding: 0 8px 0 24px;
    font-size: 16px;
    border-width: 0;
    flex: 1 1 0%;
    min-height: 40px;
    outline: none;
    color: var(--black);
    background: transparent;
}

.input-box button {
    border: none;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    background-color: rgba(255,124,148,255);
    width: 12%;
    height: 40px;
    color: #fff;
    cursor: pointer;
}
/* End of ToDo box and logo */

/* Start of ToDo list */
.todo-list {
    display: flex;
    align-items: flex-start;
    margin: 15px 34px;
    gap: 8px;
}

.todo-list div {
    display: flex;
    flex: 1 1 0%;
    align-items: flex-start;
    cursor: pointer;
}

.todo-list div p {
    margin: 0 0 0 8px;
    font-size: 17px;
    line-break: normal;
    max-height: 1500px;
    max-width: 92%;
    overflow: hidden;
    align-self: center;
}

.todo-list img {
    cursor: pointer;
}
/* End of ToDo list */

/* mobile view */
@media(max-width: 767px){
    .container {
        width: 94%;
        margin: 90px 0 70px;
    }

    .input-box{
        margin: 0 14px 35px;
    }

    .input-box button{
        width: 20%;
    }

    .todo-list {
        margin: 15px 20px;
    }

    .todo-list img {
        min-height: 32px;
        min-width: 30px;
    }
}

@media(max-width: 1024px){
    .container{
        width: 80%;
    }

    .title {
        font-size: 28px;
    }

    .title img {
        min-width: 64px;
        min-height: 68px;
    }

    .input-box{
        margin: 0 40px 35px;
        min-height: 70px;
    }

    .input-box .task {
        min-height: 70px;
        font-size: 24px;
    }

    .input-box button{
        width: 20%;
        min-height: 70px;
    }

    .todo-list {
        margin: 15px 40px;
    }

    .todo-list div p {
        font-size: 24px;
    }
    
    .todo-list img {
        min-height: 52px;
        min-width: 50px;
    }
}

